.contacts-data {
  display: flex;
  align-items: center;
  @include myfont(16px);

  a {
    color: inherit;
    text-decoration: none;
  }

  &__icon {
    position: relative;
    @include sizes(25px);
    margin-right: 10px;
    background: $c-bg-icon;

    .icon {
      @include sizes(100%, 20px);
      margin: auto;
    }
  }
}

.header-contacts-data{
  &__icon{
    @include sizes(30px);
    color: #fff;

    .icon{
	  display: block;
      margin: 2px auto;
      @include sizes(22px);
    }
  }
}
