.modal {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-overflow-scrolling: touch;
  z-index: 100;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    z-index: 1;
  }

  &__content {
    position: relative;
    background: $c-white;
    max-width: 575px;
    height: 100%;
    overflow-y: auto;
    z-index: 2;
  }

  &__info {
    padding: 50px;
  }

  &__close {
    position: absolute;
    top: -7px;
    right: 10px;
    color: $c-black;
    cursor: pointer;
    font-size: 30px;
  }

  &__button{
    width: 100%;
  }
}

.open {
  &.modal {
    opacity: 1;
    visibility: visible;
  }
}
