.swiper-navigation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
  background: #3ba2a2;

  &__content {
	position: relative;
	width: 175px;
  }

  .swiper-pagination {
	right: 0;
	width: 60px;
	margin: auto;
  }
}

.swiper-pagination {
  font-size: 20px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 44px;
  height: 15px;
  background: #000;
  margin-top: -30px;

  &:before,
  &:after{
    content: '';
  }
}
