.top-navigation {
  position: relative;
  height: 110px;
  z-index: 5;

  &__desktop {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 100;

    @include md-up {
      box-shadow: 0 3px 6px rgba(0,0,0,0.3);
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 auto;
    flex-wrap: wrap;
  }

  &__right-col {
    display: none;

    @include sm {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 0 0 0 auto;
    }
  }

  &__contacts {
    display: none;
    margin-right: 20px;

    @include md{
      display: block;
    }

    .icon {
      color: $c-white;
    }
  }

  &__partner {
    @include sizes(140px, 60px);

    @include md{
      @include sizes(100px, 43px);
    }
  }
}

.logo {
  display: block;
  text-decoration: none;
  @include sizes(135px, 40px);
  background: url('#{$img-path}logo-m.svg') no-repeat center;
  background-size: contain;

  @include sm {
    @include sizes(180px, 50px);
  }
}
