{% include '../blocks/form.twig' %}

<footer class="footer">
    <div class="container">
        <div class="footer-grid">
            <div class="footer-grid__left">
                <div class="footer-company-info">
                    <div class="footer-company-info__item contacts-data">
                        <div class="contacts-data__icon">
                            <i class="icon">
                                <svg width="13.86" height="13.889" viewBox="0 0 13.86 13.889">
                                    <use xlink:href="#icon-phone">
                                </svg>
                            </i>
                        </div>
                        <span>
                            Новорижское шоссе 25 км, вл25 ст2
                        </span>
                    </div>
                    <div class="footer-company-info__item contacts-data">
                        <div class="contacts-data__icon">
                            <i class="icon">
                                <svg width="13.821" height="19.697" viewBox="0 0 13.821 19.697">
                                    <use xlink:href="#icon-location">
                                </svg>
                            </i>
                        </div>
                        <span>
                            <a href="tel:+7 (495) 229-20-89">+7 (495) 229-20-89</a>
                        </span>
                    </div>
                </div>
                <div class="footer-logos">
                    <a href="#" class="footer-logos__item footer-logos__item--ma" target="_blank">
                        <img src="./assets/img/logo-m-white.svg" alt="">
                    </a>
                    <a href="#" class="footer-logos__item  footer-logos__item--ya" target="_blank">
                        <img src="./assets/img/logo-yandex-gruz.svg" alt="">
                    </a>
                    <a href="#" class="footer-logos__item  footer-logos__item--ma-lising" target="_blank">
                        <img src="./assets/img/logo-lising.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="footer-grid__right">

            </div>
        </div>
        <div class="footer__info">
            <p>
                *Данная скидка предоставляется от максимальной цены перепродажи, действующей на момент приобретения и не
                суммируется со скидкой Трейд-Ин/Утилизация.
            </p>
            <p>
                **Оклейка автомобиля или установка брендированного тента осуществляются после подключения Клиента к
                системе Яндекс.Такси и подписания договора купли-продажи транспортного средства между Продавцом (ООО
                «Мэйджор Трак Центр») и Покупателем
            </p>
            <p>
                Все материалы данного интернет-ресурса являются объектами авторского права, в том числе, текстовая
                информация, графические и видео объекты, дизайн и его элементы, структура сайта. Объекты защищены
                действующим законодательством. Запрещается копирование, распространение или любое иное использование
                инфорации и объектов без предварительного письменного согласования правообладателя.
            </p>
            <p>
                Данный сайт носит информационно-справочный характер и ни при каких условиях не является публичной
                офертой.
            </p>
        </div>
        <div class="footer-copy">
            MAJOR AUTO © 2020
        </div>
    </div>
</footer>

<script src="/assets/js/libs-min.js"></script>
<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>
