<div class="header">
    <div class="top-navigation">
        <div class="burger-menu__overlay"></div>
        <div class="mob-navigation">
            <div class="mob-navigation__content">
                <div class="container">
                    <ul class="mob-navigation-menu">
                        <li class="mob-navigation-menu__item">
                            <a class="mob-navigation-menu__link js-burger-menu__link" href="#advantages">Преимущества</a>
                        </li>
                        <li class="mob-navigation-menu__item">
                            <a class="mob-navigation-menu__link js-burger-menu__link" href="#price">Цены</a>
                        </li>
                        <li class="mob-navigation-menu__item">
                            <a class="mob-navigation-menu__link js-burger-menu__link" href="#about">О компании</a>
                        </li>
                        <li class="mob-navigation-menu__item">
                            <a class="mob-navigation-menu__link js-burger-menu__link" href="#cotacts">Контакты</a>
                        </li>
                    </ul>

                    <div class="mob-navigation__contact contacts-data">
                        <div class="contacts-data__icon">
                            <i class="icon">
                                <svg width="13.86" height="13.889" viewBox="0 0 13.86 13.889">
                                    <use xlink:href="#icon-phone">
                                </svg>
                            </i>
                        </div>
                        <span>
                            Новорижское шоссе 25 км, вл25 ст2
                        </span>
                    </div>
                    <div class="mob-navigation__contact contacts-data">
                        <div class="contacts-data__icon">
                            <i class="icon">
                                <svg width="13.821" height="19.697" viewBox="0 0 13.821 19.697">
                                    <use xlink:href="#icon-location">
                                </svg>
                            </i>
                        </div>
                        <span class="bold">
                            <a href="tel:+7 (495) 229-20-89">+7 (495) 229-20-89</a>
                        </span>
                    </div>
                    <div class="mob-navigation__partner">
                        <div class="yandex-partner"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-navigation__desktop">
            <div class="container">
                <div class="top-navigation__container">
                    <a class="logo"></a>
                    <div class="top-menu">
                        <ul class="top-menu__list">
                            <li class="top-menu__item">
                                <a class="top-menu__link" href="#advantages">Преимущества</a>
                            </li>
                            <li class="top-menu__item">
                                <a class="top-menu__link" href="#price">Цены</a>
                            </li>
                            <li class="top-menu__item">
                                <a class="top-menu__link" href="#about">О компании</a>
                            </li>
                            <li class="top-menu__item">
                                <a class="top-menu__link" href="#contacts">Контакты</a>
                            </li>
                        </ul>
                    </div>
                    <div class="top-navigation__right-col">
                        <div class="top-navigation__contacts">
                            <div class="contacts-data">
                                <div class="contacts-data__icon header-contacts-data__icon">
                                    <i class="icon">
                                        <svg width="25.258" height="25.258" viewBox="0 0 25.258 25.258">
                                            <use xlink:href="#icon-phone-red">
                                        </svg>
                                    </i>
                                </div>
                                <span class="bold"><a href="tel:+7 (495) 229-20-89">+7 (495) 229-20-89</a></span>
                            </div>
                        </div>
                        <div class="top-navigation__partner">
                            <div class="yandex-partner"></div>
                        </div>
                    </div>
                    <button class="burger-menu__button js-burger-menu__button">
                        <span class="burger-menu__lines js-burger-menu__lines"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="header-promo">
        <div class="container">
            <div class="header-promo__content">
                <div class="header-promo__info">
                    <div class="header-promo__title section_title">
                        Готовый продукт для вашего бизнеса в Яндекс.Такси Грузовой
                    </div>
                    <div class="header-promo__button">
                        <button class="button button--inner js-form-call">Заказать звонок</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__form">
        <div class="container">
            <div class="header__form-conntent">
                <div class="form form__small">
                    <div class="form__success js-form-success">
                        <div class="form__success-content">
                            <i class="form__success-icon"></i>
                            <p>Заявка успешно отправлена!</p>
                            <p>Мы свяжемся с Вами в ближайшее время.</p>
                        </div>
                    </div>
                    <form action="" data-form-validate="true" method="post" id="order-form" novalidate="novalidate">
                        <div class="header__form-title">Оставьте заявку</div>
                        <div class="form__field form-field">
                            <div class="form-field__input form-field__input--with-icon">
                                <i class="icon form-field__icon-input">
                                    <svg width="12.7" height="15.22" viewBox="0 0 12.7 15.22">
                                        <use xlink:href="#icon-user">
                                    </svg>
                                </i>
                                <input data-rule-required="true"
                                       data-msg-required="Имя введено неправильно"
                                       type="text" name="text" placeholder="Ваше имя">
                            </div>
                        </div>
                        <div class="form__field form-field">
                            <div class="form-field__input form-field__input--with-icon">
                                <i class="icon form-field__icon-input">
                                    <svg width="13.86" height="13.889" viewBox="0 0 13.86 13.889">
                                        <use xlink:href="#icon-phone">
                                    </svg>
                                </i>
                                <input type="text" placeholder="Введите телефон">
                            </div>
                        </div>
                        <div class="form__field form-field">
                            <div class="form-field__input form-field__input--with-icon">
                                <i class="icon icon--mail form-field__icon-input">
                                    <svg width="14.738" height="11.054" viewBox="0 0 14.738 11.054">
                                        <use xlink:href="#icon-mail">
                                    </svg>
                                </i>
                                <input data-rule-required="true" data-msg-required="Email введен неправильно"
                                       type="email" name="email" placeholder="Введите Email">
                            </div>
                        </div>

                        <div class="form__field form-field__checkbox">
                            <div class="checkbox">
                                <input class="checkbox_input" name="checkbox" id="policy" type="checkbox" data-rule-required="true"
                                       data-msg-required=" ">
                                <label class="checkbox_label" for="policy">
                                    <span class="checkbox_fake-check"></span>
                                    <span class="checkbox__fake-check-text">
                                    Согласен на обработку <a href="#">личных данных и обратную коммуникацию</a>
                                    </span>
                                </label>
                            </div>
                        </div>

                        <div class="form__field form-field__button">
                            <button class="button button--full-width">Оставить заявку</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
