<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noarchive">
    <meta property="fb:pages" content="174532709290967,405317329588840,972841029428705,290420461092357">
    <meta charset="UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="">
    <meta property="twitter:image" content="">
    <meta property="twitter:url" content="">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="">
    <meta property="twitter:description" content="">
    <meta itemprop="image" content="">
    <meta itemprop="description" content="">
    <meta itemprop="url" content="">
    <title></title>
    <link href="./img/favicon.ico" rel="shortcut icon">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/style.css">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=5afa0625-98a4-4b41-851a-9e0656bf337b&lang=ru_RU"
            type="text/javascript">
    </script>
    <script type="text/javascript">
        ymaps.ready(init);

        function init() {
            var myMap = new ymaps.Map("map", {
                    center: ['55.789124', '37.250648'],
                    zoom: 16
                }, {
                    searchControlProvider: 'yandex#search'
                }),

                // Создаем геообъект с типом геометрии "Точка".
                myGeoObject = new ymaps.GeoObject({
                    // Описание геометрии.
                    geometry: {
                        type: "Point",
                        coordinates: ['55.789124', '37.250648']
                    },
                    // Свойства.
                    properties: {
                        // Контент метки.
                        iconContent: 'MAJOR TRUCK CENTER'
                    }
                }, {
                    // Опции.
                    // Иконка метки будет растягиваться под размер ее содержимого.
                    preset: 'islands#blackStretchyIcon',
                    draggable: true
                });

            myMap.geoObjects
                .add(myGeoObject)
                .add(new ymaps.Placemark(['55.789124', '37.250648'], {
                    balloonContent: '<strong>MAJOR TRUCK CENTER</strong>'
                }, {
                    preset: 'islands#blueCircleDotIconWithCaption',
                    iconCaptionMaxWidth: '50'
                }));
        }

    </script>
</head>
<body>
<div class="svg_hidden">
    <svg xmlns="http://www.w3.org/2000/svg">
        <symbol id="icon-user" width="12.7" height="15.22" viewBox="0 0 12.7 15.22">
            <path class="a"
                  d="M6.25,7.33A3.55,3.55,0,0,0,8.85,6.26,3.55,3.55,0,0,0,9.92,3.66,3.55,3.55,0,0,0,8.85,1.07a3.66,3.66,0,0,0-5.18,0A3.55,3.55,0,0,0,2.59,3.66,3.55,3.55,0,0,0,3.66,6.26,3.55,3.55,0,0,0,6.25,7.33Z"
                  transform="translate(0.01 0)"/>
            <path class="a"
                  d="M12.67,11.7a9.05,9.05,0,0,0-.12-1,7.58,7.58,0,0,0-.24-1,4.78,4.78,0,0,0-.4-0.9,3.4,3.4,0,0,0-.6-0.78,2.64,2.64,0,0,0-.86-0.54,3,3,0,0,0-1.1-.2,1.12,1.12,0,0,0-.6.25L8.12,8a3.56,3.56,0,0,1-.8.35,3.12,3.12,0,0,1-2,0A3.55,3.55,0,0,1,4.56,8L3.94,7.6a1.11,1.11,0,0,0-.6-0.25,3,3,0,0,0-1.1.2,2.64,2.64,0,0,0-.86.54,3.4,3.4,0,0,0-.6.78,4.79,4.79,0,0,0-.4.9,7.59,7.59,0,0,0-.24,1,9,9,0,0,0-.12,1C0,12,0,12.3,0,12.6a2.53,2.53,0,0,0,.75,1.91,2.7,2.7,0,0,0,1.93.71H10a2.7,2.7,0,0,0,1.93-.71,2.53,2.53,0,0,0,.75-1.91c0-.31,0-0.61,0-0.9h0Z"
                  transform="translate(0.01 0)"/>
        </symbol>
        <symbol id="icon-phone" width="13.86" height="13.889" viewBox="0 0 13.86 13.889">
            <path
                    d="M14.035,10.193,12.1,8.255a1.289,1.289,0,0,0-2.146.485,1.319,1.319,0,0,1-1.523.831,5.977,5.977,0,0,1-3.6-3.6A1.255,1.255,0,0,1,5.66,4.448,1.289,1.289,0,0,0,6.144,2.3L4.206.363a1.383,1.383,0,0,0-1.869,0L1.022,1.679C-.294,3.063,1.16,6.732,4.413,9.985s6.922,4.776,8.307,3.392l1.315-1.315A1.382,1.382,0,0,0,14.035,10.193Z"
                    transform="translate(-0.539 0)"/>
        </symbol>
        <symbol id="icon-location" width="13.821" height="19.697" viewBox="0 0 13.821 19.697">
            <path
                    d="M89.53,0a6.91,6.91,0,0,0-6.91,6.91c0,3.817,4.843,12.787,6.91,12.787,2.177,0,6.91-8.97,6.91-12.787A6.91,6.91,0,0,0,89.53,0Zm0,11.226A4.316,4.316,0,1,1,93.846,6.91,4.316,4.316,0,0,1,89.53,11.226Z"
                    transform="translate(-82.62)"/>
        </symbol>
        <symbol id="icon-mail" width="14.738" height="11.054" viewBox="0 0 14.738 11.054">
            <g transform="translate(0 -64)">
                <g transform="translate(0 64)">
                    <g transform="translate(0 0)">
                        <path class="a"
                              d="M7.022,64.9c2.023,1.713,5.572,4.727,6.615,5.667a.616.616,0,0,0,.891,0c1.044-.941,4.593-3.955,6.616-5.668a.307.307,0,0,0,.043-.424A1.219,1.219,0,0,0,20.225,64H7.943a1.219,1.219,0,0,0-.964.473A.307.307,0,0,0,7.022,64.9Z"
                              transform="translate(-6.715 -64)"/>
                        <path class="a"
                              d="M343.164,126.44a.306.306,0,0,0-.327.044c-1.325,1.123-3.07,2.607-4.387,3.739a.307.307,0,0,0,.008.472c1.223.98,3.066,2.327,4.4,3.285a.307.307,0,0,0,.486-.249v-7.013A.307.307,0,0,0,343.164,126.44Z"
                              transform="translate(-328.604 -124.615)"/>
                        <path class="a"
                              d="M.486,133.989c1.331-.958,3.175-2.305,4.4-3.285a.307.307,0,0,0,.008-.472C3.576,129.1,1.83,127.616.506,126.493a.307.307,0,0,0-.506.234v7.013a.307.307,0,0,0,.486.249Z"
                              transform="translate(0 -124.624)"/>
                        <path class="a"
                              d="M22.737,288.466c-1.285-.92-3.653-2.634-5.067-3.781a.308.308,0,0,0-.4.007c-.277.242-.509.446-.674.594a1.243,1.243,0,0,1-1.714,0c-.164-.148-.4-.352-.673-.593a.306.306,0,0,0-.395-.007c-1.409,1.143-3.779,2.86-5.067,3.781a.307.307,0,0,0-.046.459,1.23,1.23,0,0,0,.9.394H21.885a1.232,1.232,0,0,0,.9-.394.307.307,0,0,0-.046-.459Z"
                              transform="translate(-8.375 -278.265)"/>
                    </g>
                </g>
            </g>
        </symbol>
        <symbol id="icon-phone-red" width="25.258" height="25.258" viewBox="0 0 25.258 25.258">
            <path d="M0,0V25.258H25.258V0ZM20.868,18.728A3.057,3.057,0,0,1,16.522,20.8a21.921,21.921,0,0,1-7.339-4.747A21.922,21.922,0,0,1,4.436,8.715,3.057,3.057,0,0,1,6.51,4.369a1.581,1.581,0,0,1,1.084,0c.869.32,3.07,3.349,3.119,4.256a1.571,1.571,0,0,1-.9,1.39A1.579,1.579,0,0,0,9.3,12.23a7.3,7.3,0,0,0,1.487,2.223,7.3,7.3,0,0,0,2.223,1.487,1.579,1.579,0,0,0,2.215-.512,1.571,1.571,0,0,1,1.39-.9c.906.049,3.936,2.25,4.256,3.119A1.582,1.582,0,0,1,20.868,18.728ZM18,10.887a3.9,3.9,0,0,0-1.154-2.4A4.133,4.133,0,0,0,14.3,7.276a3.659,3.659,0,0,0-.777.015.583.583,0,0,1-.148-1.156,4.832,4.832,0,0,1,1.026-.02,5.3,5.3,0,0,1,3.276,1.548,5.065,5.065,0,0,1,1.491,3.124,4.518,4.518,0,0,1-.019.958.583.583,0,0,1-.577.509.6.6,0,0,1-.074,0,.583.583,0,0,1-.5-.652A3.354,3.354,0,0,0,18,10.887Zm-1.936.168A2.188,2.188,0,0,0,14.13,9.211a1.8,1.8,0,0,0-.229-.005.583.583,0,1,1-.048-1.165,3,3,0,0,1,.377.009,3.323,3.323,0,0,1,3,2.9,2.643,2.643,0,0,1,0,.407.583.583,0,0,1-.581.543h-.04a.583.583,0,0,1-.542-.621A1.479,1.479,0,0,0,16.069,11.054Zm4.963,1.223a.583.583,0,1,1-1.149-.2,5.281,5.281,0,0,0,.057-1.359,5.844,5.844,0,0,0-1.716-3.607A6.078,6.078,0,0,0,14.465,5.34a5.576,5.576,0,0,0-1.356.047.583.583,0,1,1-.183-1.151,6.75,6.75,0,0,1,1.639-.057,7.246,7.246,0,0,1,4.483,2.109,7.011,7.011,0,0,1,2.053,4.33A6.445,6.445,0,0,1,21.031,12.277Z"/>
        </symbol>

    </svg>
</div>

