
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.o-hidden{
  overflow: hidden;
}

.svg_hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.proportional {
  position: relative;
  transform-origin: center center;
  background-position: center center;
  background-size: cover;
  z-index: 1;

  &:after {
    content: "";
    display: block;
    @include propotionalSize();
  }
}

.yandex-partner {
  @include sizes(100%);
  background: url('#{$img-path}yandex.png') no-repeat center;
  background-size: contain;

  @media only screen and (-webkit-min-device-pixel-ratio: 1.25),
  only screen and (min--moz-device-pixel-ratio: 1.25),
  only screen and (-o-min-device-pixel-ratio: 1.25/1),
  only screen and (min-device-pixel-ratio: 1.25),
  only screen and (min-resolution: 200dpi),
  only screen and (min-resolution: 1.25dppx) {
    background: url('#{$img-path}yandex@2x.png') no-repeat center;
    background-size: contain;
  }
}

.bold{
  font-weight: 700;
}
