<div class="logo">
    <img src="/assets/img/logo.png" alt="">
</div>

<div class="headerMenuFixed">
    <div class="content">
        <div class="header-menu">
            <button class="burger">
                <span class="burger__text">Menu</span>
            </button>
        </div>
    </div>
</div>

<div class="header-menu-dropdown jsHeaderMenuDropdown">
    <span class="jsCloseMenu"></span>
    <div class="content">
        <ul class="header-menu-dropdown__list">
            <li class="header-menu-dropdown__item"><a href="/#about" class="header-menu-dropdown__link">Что такое Space
                    Grid</a></li>
            <li class="header-menu-dropdown__item"><a href="/#BlockAdvantages" class="header-menu-dropdown__link">Преимущества</a>
            </li>
            <li class="header-menu-dropdown__item"><a href="/#BlockStatement"
                                                      class="header-menu-dropdown__link">Показатели</a></li>
            <li class="header-menu-dropdown__item"><a href="/#BlockPrice"
                                                      class="header-menu-dropdown__link">Стоимость</a>
            </li>
            <li class="header-menu-dropdown__item"><a href="/calc.html"
                                                      class="header-menu-dropdown__link">Калькулятор</a>
            </li>
            <li class="header-menu-dropdown__item"><a href="/partner.html"
                                                      class="header-menu-dropdown__link">Партнеры</a>
            </li>
            <li class="header-menu-dropdown__item"><a href="/#BlockGuaranty"
                                                      class="header-menu-dropdown__link">Гарантии</a>
            </li>
{#            <li class="header-menu-dropdown__item"><a href="/#BlockReview" class="header-menu-dropdown__link">Отзывы</a>#}
{#            </li>#}
            <li class="header-menu-dropdown__item"><a href="/download.html" class="header-menu-dropdown__link">Программы для работы</a></li>
        </ul>
    </div>
</div>
