{% set linkBuy = 'https://forms.gle/h3eqmHkBQ14eGZvj8' %}

<div class="guaranty" id="BlockGuaranty">
    <div class="content">
        <div class="contentPage">
            <div class="contentPage__grid">
                <h2>Гарантии</h2>
                <div class="separator-deco"></div>
                <div class="guaranty-info">
                    <div class="guaranty-info__p">
                        Мы работаем через гарант-сервис. Если по истечению 2-х недель робот заработал менее 5%, то
                        деньги автоматом переведутся Вам на счет
                    </div>
                    <div class="guaranty-info__img"></div>
                    <a href="{{ linkBuy }}" class="guaranty-info__button button">Заказать</a>
                </div>
            </div>
        </div>
    </div>
</div>
