{% set linkBuy = 'https://forms.gle/h3eqmHkBQ14eGZvj8' %}

{#<div class="review bg-violet" id="BlockReview">#}
{#    <div class="content">#}
{#        <div class="contentPage">#}
{#            <div class="block">#}
{#                <div class="review-info">#}
{#                    <h2 class="review__title white">Отзывы</h2>#}
{#                    <div class="review__description">#}
{#                        Если Вас интересуют отзывы, то пишите:#}
{#                    </div>#}
{#                    <div class="social-links">#}
{#                        <a href="https://t.me/SPACEGRID_ROBOT" class="social-link social-link--tg">Телеграм</a>#}
{#                        <a href="https://vk.com/spacegrid_invest" class="social-link  social-link--vk">VK</a>#}
{#                    </div>#}
{#                    <div class="review__description-2">Скинем отзывы лично каждому!</div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

